# OPCIÓN 1: Clave de API de Google Gemini (Generative Language API en GCP)
# Obtén tu clave en GCP Console -> APIs & Services -> Credentials
GCP_GEMINI_API_KEY=tu_llave_de_gcp_aqui

# OPCIÓN 2: Cuenta de Servicio de Google Cloud (Vertex AI)
# Si usas Cuenta de Servicio, pon USE_VERTEX_AI en true.
# Asegúrate de poner el archivo .json descargado en la raíz del proyecto
# y llamarlo 'gcp-service-account.json'.
USE_VERTEX_AI=false
GCP_PROJECT_ID=carloscafe-511015
GCP_LOCATION=us-central1

# Identificador del modelo Gemini a utilizar (ej. gemini-flash-latest, gemini-3.8-flash, gemini-3.7-flash)
# Si no se especifica, por defecto se usará gemini-flash-latest.
VITE_GEMINI_MODEL=gemini-flash-latest
